body{
	background-color: rgb(50,30,30);
	font-family: "Lucida Sans Unicode", sans-serif;
}
#logo{
	float:left;
	z-index: 1;
	position: absolute;
	left:30px;
	top:70px;
	}
#des
{
	float:left;
	padding-bottom: 0;
	
	}
#button
{padding-top: 65px;

	
	}

button{
	border-radius: 10px;
	border-style: double;
	border-width:2px;
	border-color: black;
	height: 35px;
	width:120px;
	font-size: 15px;
	
	
	}
#stars{float:right; padding-top: 18px; padding-left: 8px;}

button:hover{border-color: lightblue;}
#rate
{
	z-index: 1;
	position: absolute;
	right: 10px;
	top:55px;
	float:right;}
#bar{
	background-color: lightcyan;
box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(200, 200, 200, 0.5);
border-radius: 20px;
color:#483d8b;

position:absolute;
top:45%;
left:30%;
border-color:rgb(80,60,50);
border-style: dashed;
border-width: 5px;
padding: 2px 10px 5px 10px;
}